body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

table {
  border: solid black;
  border-spacing: 5px;
}

td {
  border-spacing: 10px;
  padding: 5px;
}

tr:nth-child(even) {
  background: #ccc;
}
tr:nth-child(odd) {
  background: #fff;
}

#warning {
  color: red;
}

#footer {
  position: fixed;
  bottom: 0;
}

#submit {
  background-color: #3f50b5;
  color: white;
  font: bold;
  border-radius: 15%;
  padding: 10px;
  font-size: 20px;
}

#auth {
  padding: 10px;
}
